# Kyra
/Skyra/ @kyranet
/Skyra.Tests/ @kyranet
/Skyra.sln @kyranet

# Favna
/Skyra.Docker/ @favna

# Quantum
/.editorconfig @quantumlytangled
/Skyra/Core/Models/SkyraEvent.cs @quantumlytangled
/Skyra/Core/Models/GameIntegrations/ @quantumlytangled
/Skyra/Core/Database/Models/UserGameIntegrations.cs @quantumlytangled
/Skyra/Core/Database/Models/UserGameIntegrationsFFXIV.cs @quantumlytangled
/Skyra.Gateway/ @quantumlytangled
/Skyra.Notifi/ @quantumlytangled
