# Kyra
/Skyra/ @kyranet
/Skyra.Gateway/ @kyranet

# Favna
/Skyra.Docker/ @favna

# Tyler
/Skyra/ @Tylertron1998
/Skyra.Gateway/ @Tylertron1998
/.editorconfig @Tylertron1998
/Skyra.sln @Tylertron1998
/Skyra.sln.DotSettings @Tylertron1998