name: build

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v2
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.101
      - run: dotnet build Skyra
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: true
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Run Tests
      - run: dotnet test Skyra.Tests
